# Experiment with bioc build via actions

name: build

on:
  #push:
  #pull_request:
  ##release:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo for Package Status'
        required: true
        default: 'cran'
        type: choice
        options:
          - p3m
          - cran
      targets:
        description: 'JSON all: {"target":["a","b","c"]}'
        required: true
        default: '{"target":["digest","tint"]}'
        type: string
      arm_targets:
        description: 'JSON arm: {"target":["a","c"]}'
        required: true
        default: '{"target":[""]}'
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest
    container:
      image: eddelbuettel/gha_r2u_build:noble
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Default Config and Cache
        run: |
          r -e 'r2u:::.createDefaultConfiguration()'
      - name: Fetch Updated Config
        uses: actions/checkout@v4
        with:
          repository: eddelbuettel/r2u-config
          path: r2u-config
      - name: Copy Updated Config
        run: cp -vax r2u-config/* ~/.local/share/R/r2u
      - name: Create Cache
        run: |
          r -e 'r2u:::.loadDB()'
          r -e 'r2u:::.loadAP(repo="${{ inputs.repo }}")'
          r -e 'r2u:::.allBuilds("jammy")'
          r -e 'r2u:::.allBuilds("noble")'
      - name: Upload Config
        uses: actions/upload-artifact@v4.4.0
        with:
          name: r2u_config
          path: ~/.local/share/R/r2u
    
  build:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: noble,  rel: 24.04             }
          - { name: jammy,  rel: 22.04             }
    uses: eddelbuettel/r2u-builder/.github/workflows/workflow_build.yaml@main
    with:
      dist: ${{ matrix.name }}
      targets: ${{ inputs.targets }}
    secrets: inherit
    
  build_arm:
    needs: setup
    if: ${{ inputs.arm_targets != '{"target":[""]}' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: noble,  rel: 24.04,  cpu: arm }
    uses: eddelbuettel/r2u-builder/.github/workflows/workflow_build.yaml@main
    with:
      dist: ${{ matrix.name }}
      arch: "-arm"
      targets: ${{ inputs.arm_targets }}
    secrets: inherit
          
          
