# Support amd64 builds 

name: docker

on:
  #push:
  #pull_request:
  #release:
  workflow_dispatch:

jobs:
  create_builder:
    runs-on: ubuntu-latest
    name: 24.04 (amd64, arm64)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          no-cache: true
          platforms: linux/amd64,linux/arm64
          context: r2u-builder/noble
          tags: eddelbuettel/gha_r2u_build:noble
          
  matrix:
    runs-on: ${{ matrix.config.runs }}
    name: '${{ matrix.config.ver }} (${{ matrix.config.cpu }})'
    strategy:
      fail-fast: false
      matrix:
        config:
          # no really a matrix with just one line...
          #- { ver: '20.04', tag: 'focal', cpu: 'amd64', runs: 'ubuntu-20.04' }
          - { ver: '22.04', tag: 'jammy', cpu: 'amd64', runs: 'ubuntu-22.04' }
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    #- name: Set up QEMU
    #  uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        no-cache: true
        context: r2u-builder/${{ matrix.config.tag }}
        tags: eddelbuettel/gha_r2u_build:${{ matrix.config.tag }}
          
