# Experiment with bioc build via actions -- filling in a single binaru
#
# This is very one-off as we have to do an ad-hoc build on arm64

name: single

on:
  push:
  #pull_request:
  ##release:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-24.04-arm
    if: github.repository == 'eddelbuettel/r2u-bioc-builder'
    container:
      image: eddelbuettel/gha_r2u_bioc_build:noble
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          cd pkgs
          mkdir -p /var/local/r2u/build/noble/zlibbioc/src/
          cp -ax zlibbioc /var/local/r2u/build/noble/zlibbioc/src/
          cp -ax zlibbioc/debian /var/local/r2u/build/noble/zlibbioc/
          mkdir -p /var/local/r2u/build/noble/zlibbioc/debian/r-bioc-zlibbioc/usr/lib/R/site-library
          cd /var/local/r2u/build/noble/zlibbioc/src/
          R CMD INSTALL -l ../../zlibbioc/debian/r-bioc-zlibbioc/usr/lib/R/site-library zlibbioc
          cd /var/local/r2u/build/noble/zlibbioc/
          dpkg-buildpackage -us -uc -d -b
          cd ..
          ls -l
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          #files: /var/local/r2u/ubuntu/pool/dists/noble/main/*deb
          files: /var/local/r2u/build/noble/r-bioc-zlibbioc_*.deb
          make_latest: true
          prerelease: true
          tag_name: latest
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}



  #
